$dark: rgb(30,30,30);
$light: rgb(250,250,250);
$lighter: rgb(255,255,255);
$yellow: hsl(30,89%,65%);
$dark-yellow: hsl(30,89%,60%);



svg {
  fill: $yellow;
  transition: all ease 0.5s;
}

svg:hover {
  fill: $dark-yellow
}
section {
  padding: 100px;
}

.marginTop {
  margin-top: 30px;
}


.nav-item a {
  margin-left: 15px;
  color: $light;
}

.nav-item a:hover {
  color: $lighter;
}

.active {
  color: $yellow !important;
}

.nav-link {
  color: $light;
}
